<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="assets/commons.css">

{% include w_filter.html %}

{% for subject in subjects %}
<h2 class="opp-list__subject">{{ subject.name }}</h2>
<ul class="opp-list{% for d in opp.disciplines %} opp--{{ d | truncate: 3, "" }} {% endfor %}">
  {% for opp in subject.opportunities %}
  <li class="opp-list__opp">
    <p class="opp__description">
      {{ opp.description }}
    </p>
    <hr>
    <span class="opp__professors">
      {{ opp.professors | join: ", " }}
    </span>
  </li>
  {% endfor %}
</ul>
  {% endfor %}
