<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="assets/commons.css">
<title>STEC Research Portal</title>

<div class="sidebar">
  <h1 class="sidebar__title">STEC Research Portal</h1>
  <!-- <h1>Filter:</h1> -->

  <div class="subjectfilter">
    <label> Subject:
      <select id="filter__subject" name="subject" onchange="hideProjectBySubject()">
  	<option value="any-subject">Any Subject</option>
  	{% for subject in subjects %}
  	{% assign slug = subject.name | truncate: 3, "" %}
	<option value="{{ slug }}">{{ subject.name }}</option>
  	{% endfor %}
      </select>
    </label>
  </div>

  <div class="professorfilter">
    <label> Professor:
      <select id = "filter__professor" name="professor" onchange="hideProjectByProfessor()">
  	<option value="any-prof">Any Professor</option>
  	{% for prof in professors %}
  	<option value="{{ prof[0] }}">{{ prof[1] }}</option>
  	{% endfor %}
      </select>
    </label>
  </div>

  <div class="levelfilter">
    <label> Level:
      <select id = "filter__level" name="level">
  	<option value="any-course">Any Course</option>
  	<option value="stec2500">STEC 2500</option>
  	<option value="stec4500">STEC 4500</option>
      </select>
    </label>
  </div>

  <!-- <button type="search">Search</button> -->
</div>


<div class="content">
{% for subject in subjects %}
<ul class="opp-list" id="list--{{ subject.name | truncate: 3, "" }}">
  <h2 class="opp-list__subject">{{ subject.name }}</h2>
  {% for opp in subject.opportunities %}
  <li class="opp-list__opp">
    <p class="opp__description">
      {{ opp.description }}
    </p>
    <br>
    <span class="opp__professors">
      {% for prof in opp.professors %}
      {% assign slug = prof | downcase | replace: " ", "-" %}
      <a class="professor" href="http://ggc.edu/about-ggc/directory/{{ slug }}">
	{{ prof }}
      </a>
      {% endfor %}
    </span>
  </li>
  {% endfor %}
</ul>
  {% endfor %}
</div>

<script>
  function hideProjectBySubject() {
    var subject = document.getElementById("filter__subject").value;
	
	if (subject === "any-subject") {
		document.getElementById("list--Bio").style.display = "block";
		document.getElementById("list--Bus").style.display = "block";
		document.getElementById("list--Che").style.display = "block";
		document.getElementById("list--Exe").style.display = "block";
		document.getElementById("list--Inf").style.display = "block";
		document.getElementById("list--Mat").style.display = "block";
		document.getElementById("list--Phy").style.display = "block";
		document.getElementById("list--Psy").style.display = "block";
	}
	else {
	
    
		// var x = document.getElementsByClassName("content")[0];
		var x = document.getElementById("list--" + subject);
		x.style.display = "block";
    
		if (subject === "Bio") {
			document.getElementById("list--Bus").style.display = "none";
			document.getElementById("list--Che").style.display = "none";
			document.getElementById("list--Exe").style.display = "none";
			document.getElementById("list--Inf").style.display = "none";
			document.getElementById("list--Mat").style.display = "none";
			document.getElementById("list--Phy").style.display = "none";
			document.getElementById("list--Psy").style.display = "none";
		}
		else if (subject === "Bus") {
			document.getElementById("list--Bio").style.display = "none";
			document.getElementById("list--Che").style.display = "none";
			document.getElementById("list--Exe").style.display = "none";
			document.getElementById("list--Inf").style.display = "none";
			document.getElementById("list--Mat").style.display = "none";
			document.getElementById("list--Phy").style.display = "none";
			document.getElementById("list--Psy").style.display = "none";
		}
		else if (subject === "Che") {
			document.getElementById("list--Bio").style.display = "none";
			document.getElementById("list--Bus").style.display = "none";
			document.getElementById("list--Exe").style.display = "none";
			document.getElementById("list--Inf").style.display = "none";
			document.getElementById("list--Mat").style.display = "none";
			document.getElementById("list--Phy").style.display = "none";
			document.getElementById("list--Psy").style.display = "none";
		}
		else if (subject === "Exe") {
			document.getElementById("list--Bio").style.display = "none";
			document.getElementById("list--Che").style.display = "none";
			document.getElementById("list--Bus").style.display = "none";
			document.getElementById("list--Inf").style.display = "none";
			document.getElementById("list--Mat").style.display = "none";
			document.getElementById("list--Phy").style.display = "none";
			document.getElementById("list--Psy").style.display = "none";
		}
		else if (subject === "Inf") {
			document.getElementById("list--Bio").style.display = "none";
			document.getElementById("list--Che").style.display = "none";
			document.getElementById("list--Exe").style.display = "none";
			document.getElementById("list--Bus").style.display = "none";
			document.getElementById("list--Mat").style.display = "none";
			document.getElementById("list--Phy").style.display = "none";
			document.getElementById("list--Psy").style.display = "none";
		}
		else if (subject === "Mat") {
			document.getElementById("list--Bio").style.display = "none";
			document.getElementById("list--Che").style.display = "none";
			document.getElementById("list--Exe").style.display = "none";
			document.getElementById("list--Inf").style.display = "none";
			document.getElementById("list--Bus").style.display = "none";
			document.getElementById("list--Phy").style.display = "none";
			document.getElementById("list--Psy").style.display = "none";
		}
		else if (subject === "Phy") {
			document.getElementById("list--Bio").style.display = "none";
			document.getElementById("list--Che").style.display = "none";
			document.getElementById("list--Exe").style.display = "none";
			document.getElementById("list--Inf").style.display = "none";
			document.getElementById("list--Mat").style.display = "none";
			document.getElementById("list--Bus").style.display = "none";
			document.getElementById("list--Psy").style.display = "none";
		}
		else if (subject === "Psy") {
			document.getElementById("list--Bio").style.display = "none";
			document.getElementById("list--Che").style.display = "none";
			document.getElementById("list--Exe").style.display = "none";
			document.getElementById("list--Inf").style.display = "none";
			document.getElementById("list--Mat").style.display = "none";
			document.getElementById("list--Phy").style.display = "none";
			document.getElementById("list--Bus").style.display = "none";
		}
	}
}



function hideProjectByProfessor() {
	var professor = document.getElementById("filter__professor").value;
	var opps = document.getElementsByClassName("opp-list__opp");
	var profs = opps[3].getElementsByClassName("professor");
	
	if (professor === "any-prof") {
		for (var i = 0; i < opps.length; i++) {
			opps[i].style.display = "block";
		}
	}
	else {
		for (var i = 0; i < opps.length; i++) {
			for (var j = 0; j < profs.length; j++) {
				if (professor.textContent === profs[j].textContent) {
					opps[i].style.display = "block";
				}
				else {
					opps[i].style.display = "none";
				}
			}
		}
	}
}
</script>

