$c-ggc: #00704a;
$c-ggc-l: #7dbf2a;
$c-ggc-d: #005441;
$c-ggc-gold: #e7a931;
$c-bg: #eef0f2;

@import "reset";
@import "banner";
@import "filter";
@import "opportunity-list";

body {
    background-color: $c-bg;
}


h1 {
    margin: 1ch;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
