.opp-list {
    & {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	
	// padding: 1em;
	width: 80ch;
	margin: 10vh auto;

	list-style: none;

	// background-color: $c-ggc;
	// color: white;
	border: 2px solid $c-ggc;
    }

    &__opp {
	margin: 1em;
	padding: 1em;
	color: $c-ggc;
	font-weight: bold;
	width: 30%;
	background-color: darken($c-bg, 10%);
	border-radius: 1em;
	// border-bottom: 4px solid transparent;
	box-shadow: inset 0 -2px 4px black;

	&:hover {
	    background: linear-gradient(to top left, $c-ggc, $c-ggc-l);
	    color: white;
	    text-shadow: 0 2px $c-ggc;
	    // border-color: darken($c-ggc, 10%);
	    border-color: $c-ggc-d;
	    box-shadow: 0 0 8px $c-ggc-d, inset 0 -2px 4px black;
	}

    }

    & .opp__professors {
	font-size: 10px;
    }
}
